* {
    margin: 0;
    padding: 0;
}

/* 파일 첨부 추가 스크립트 */
.attachment {
    margin-top: 30px;
    margin-right: 10px;
    /*margin-bottom: 15px; */
    text-align: right;
}

.attachment a {
    text-decoration: none;
    color: #007bff; /* 링크 색상 */
}
/****************************/
/* document 추가 css (페이징) */
.notice_boardpagination button {
    width: 50px; /* 버튼의 너비 */
    height: 50px; /* 버튼의 높이 */
    font-size: 1.5rem; /* 버튼 내부 텍스트 크기 */
    /* 기타 스타일 속성 */
    border : none;
    background-color : #F8F9FE !important;
}


.board_list_wrap{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
/* 요소들의 너비 설정 */
.noticeboardnum {width:150px; height:50px;}
.noticeboardtitle {width:748px; height:50px; text-align: left !important;}
.noticeboardwriter {width:250px; height:50px; }
.noticeboarddate {width:250px; height:50px; }

.notice_boardpagination{
    display: flex;
    width: 1000px;
    margin-left: 200px;
    margin-top: 20px;
    justify-content: space-between;
}

.board_list ul{
  padding: 0;
  margin: 0;
  padding-left: 10px;
  display:inline-block;
}
/* 
  게시판 목록 행 단위 
  목록 요소 자체를 가운데 정렬하기
  ul 기본 가로 크기는 100%이므로, 가로 크기를 지정해줘야 가운데로 정렬할 수 있다.
  가운데 정렬
  번호, 제목, 작성자, 작성일, 조회, 좋아요 와 데이터 정렬
*/
.board_row {
  
  width: 1700px;
  /* 게시판 세로줄 없애기
  border-left:solid 1px gray;
  */
}

/* 게시글 목록 공통 개별 요소 속성 */
.board_list li{
  list-style:none;
  border-bottom: solid 1px #d9d9d9; 
  float:left; 
  text-align:center;
  padding-top: 25px;
  padding-left: 30px;
  /* padding: 0;
  margin: 0; */
}

/* 번호, 제목, 작성자, 작성일, 조회, 좋아요 row의 style 설정 */
.title_row > li {
  height: 90px;
  line-height: 50px;
  /* background:rgb(233, 233, 233); --> 게시판 타이틀 배경색 */
  font-weight: bold;
  font-size: 30px;
  text-align: center !important;
  border-top:solid 3px #6b51df;
  /* border-left:solid 1px gray; */
  /* 게시판 세로줄 없애기
  border-right:solid 1px gray;
  */
}

/* 게시글 목록 데이터 개별 요소 속성 */
.data_row > li{
  height: 90px;
  line-height: 40px;
  font-weight: 400;
  font-size: 30px;
  /* 게시판 세로줄 없애기
  border-right:solid 1px gray;
  */
  
}
/* ****************************** */

a {
    text-decoration: none;
    color: inherit;
}

.board_wrap {
    width: 100%;
    padding-right: 10px;
    /* padding-left: 10px; */
    margin-right: auto;
    margin-left: 110px;
    color: black;
    
}

.board_title {
    margin-bottom: 30px;
    margin-left: 10px;
    color: black;
}

.board_title strong {
    font-size: 3rem;
}

.board_title p {
    margin-top: 5px;
    font-size: 1.4rem;
}

.bt_wrap {
    display: flex;
    margin-top: 20px;
    text-align: center;
    font-size: 0;
    padding-right: 850px;
    align-items: stretch;
    align-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}
.bt_wrap input[type="submit"]{
	padding-bottom: 20px !important;
}

.bt_wrap input[type="submit"], .bt_wrap a {
    display: inline-block;
    min-width: 80px;
    margin-left: 11px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.4rem;
    padding-bottom: 10px !important;
}

/* 버튼 디자인 수정
.bt_wrap a:first-child {
    margin-left: 0;
}
.bt_wrap a.on {
    background: #6b51df;
    color: #fff;
    
}*/
/* 스크랩 버튼 7 */
  .bt_wrap input,.bt_wrap a {
    border: none;
    background: rgb(107, 81, 223);
      background: linear-gradient(0deg, rgba(107, 81, 223,1) 0%, rgb(150, 130, 220) 100%);
      color: #fff;
      overflow: hidden;
      font-weight: 700;
  }
  .bt_wrap input:hover,.bt_wrap a:hover {
      text-decoration: none;
      color: #fff;
  }
  .bt_wrap input:before,.bt_wrap a:before {
      position: absolute;
      content: '';
      display: inline-block;
      top: -180px;
      left: 0;
      width: 30px;
      height: 100%;
      background-color: #fff;
  }
  .bt_wrap input:hover,.bt_wrap a:hover{
    opacity: .7;
  }
  .bt_wrap input:active,.bt_wrap a:active{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
  }
  

  /* ---------------------------------------------------------------------- */


.board_list {
    width: 100%;
    display: flex;
            justify-content: center;
            /* align-content: center; */
            /* align-items: center; */
            /* 구성 요소 세로로 배치 */
            flex-direction: column;
}

.board_list > div {
    
    font-size: 0;
}

.board_list > div.ourboardtop {
    border-bottom: 1px solid #999;
}

.board_list > div:last-child {
    border-bottom: 1px solid #000;
}

.board_list > div > div {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
}

.board_list > div.ourboardtop > div {
    font-weight: 600;
}

.board_list .ourboardnum {
    width: 300px;
}

.board_list .ourboardtitle {
    width: 65%;
    text-align: left;
    padding-left: 10px;
}

.board_list .top .ourboardtitle {
    text-align: center;
}

.board_list .ourboardwriter {
    width: 10%;
}

.board_list .ourboarddate {
    width: 10%;
}

.board_list .ourboardcount {
    width: 65%;
}

.board_page {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.board_page a {
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-left: 0;
    line-height: 100%;
}

.board_page a.bt {
    padding-top: 10px;
    font-size: 1.2rem;
    letter-spacing: -1px;
}

.board_page a.ourboardnum {
    padding-top: 9px;
    font-size: 1.4rem;
}

.board_page a.ourboardnum.on {
    border-color: #000;
    background: #000;
    color: #fff;
}

.board_page a:first-child {
    border-left: 1px solid #ddd;
}

.board_view {
    width: 87%;
    border-top: solid 3px #6b51df;
}

.board_view .ourboardtitle {
    padding: 10px 10px;
    margin: 10px;
    border-bottom: 1px dashed #ddd;
    font-size: 35px;
    font-weight : 600;
}

.board_view .ourboardinfo {
    padding: 15px;
    border-bottom: 1px solid #999;
    font-size: 0;
}

.board_view .ourboardinfo dl {
    position: relative;
    display: inline-block;
    padding: 0 20px;
}

.board_view .ourboardinfo dl:first-child {
    padding-left: 0;
}

.board_view .ourboardinfo dl::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    display: block;
    width: 1px;
    height: 13px;
    background: #ddd;
}

.board_view .ourboardinfo dl:first-child::before {
    display: none;
}

.board_view .ourboardinfo dl dt,
.board_view .ourboardinfo dl dd {
    display: inline-block;
    font-size: 1.4rem;
}

.board_view .ourboardinfo dl dt {

}

.board_view .ourboardinfo dl dd {
    margin-left: 10px;
    color: #777;
}

.board_view .ourboardcont {
    padding: 15px;
    border-bottom: 1px solid #000;
    height: 50vh;
    font-size: 20px;
    display : flex;
    align-items: flex-start;
}

.board_write {
    border-top: 3px solid #6b51df;
    width: 87%;
}

.board_write .ourboardtitle,
.board_write .ourboardinfo {
    padding: 15px;
}

.board_write .ourboardinfo {
    border-top: 1px dashed #ddd;
    border-bottom: 1px solid #000;
    font-size: 0;
}

.board_write .ourboardtitle dl {
    font-size: 0;
}

.board_write .ourboardinfo dl {
    display: inline-block;
    vertical-align: middle;
}

.board_write .ourboardtitle dt,
.board_write .ourboardtitle dd,
.board_write .ourboardinfo dt,
.board_write .ourboardinfo dd {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.4rem;
}

.board_write .ourboardtitle dt,
.board_write .ourboardinfo dt {
    width: 100px;
}

.board_write .ourboardtitle dd {
    width: calc(100% - 100px);
}

.board_write .ourboardtitle input[type="text"],
.board_write .ourboardinfo input[type="text"],
.board_write .ourboardinfo input[type="password"] {
    padding: 10px;
    box-sizing: border-box;
}

.board_write .ourboardtitle input[type="text"] {
    width: 80%;
}

.board_write .ourboardcont {
    border-bottom: 1px solid #000;
    height: 50vh;
    font-size: 20px;
    display : flex;
    align-items: flex-start;
}

.board_write .ourboardcont textarea {
    display: block;
    width: 100%;
    height: 300px;
    padding: 15px;
    box-sizing: border-box;
    border: 0;
    resize: none;
    background-color: #F8F9FE;
}

/* document view ourboardinfo margin-bottom 제거 */
.ourboardinfo dl {
	margin-bottom : 0 !important;
}

.ourboardinfo dd p button{
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
}
.board_wrap dd input[type="text"] {
	border:none;
	background-color: #F8F9FE;
}

.board_write .ourboardinfo .ourfilebox{
	margin-left: 50px;	
}
.ourboardinfo dl #preview {
	position: absolute; /* 부모 요소에 대해 절대적인 위치를 설정합니다. */
    right : 0;
    margin-right: 150px;
}
.ourboardtitle dl{
	margin-bottom: 0 !important;
}