* {
    margin: 0;
    padding: 0;
}

/* 파일 첨부 추가 스크립트 */
.attachment {
    margin-top: 30px;
    margin-right: 10px;
    /*margin-bottom: 15px; */
    text-align: right;
}

.attachment a {
    text-decoration: none;
    color: #007bff; /* 링크 색상 */
}
/****************************/
/* document 추가 css (페이징) */
.notice_boardpagination button {
    width: 50px; /* 버튼의 너비 */
    height: 50px; /* 버튼의 높이 */
    font-size: 1.5rem; /* 버튼 내부 텍스트 크기 */
    /* 기타 스타일 속성 */
}

.scrap_list_wrap{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
/* 요소들의 너비 설정 */
.noticescrapnum {width:200px; height:50px;}
.noticescraptitle {width:798px; height:50px; text-align: left !important; padding-left: 10px;}
.noticescrapwriter {width:300px; height:50px; }
.noticescrapdate {width:300px; height:50px; }

.notice_scrappagination{
    display: flex;
    width: 1000px;
    margin-left: 300px;
    margin-top: 20px;
    justify-content: space-between;
}

.scrap_list ul{
  padding: 0;
  margin: 0;
  display:inline-block;
}
/* 
  게시판 목록 행 단위 
  목록 요소 자체를 가운데 정렬하기
  ul 기본 가로 크기는 100%이므로, 가로 크기를 지정해줘야 가운데로 정렬할 수 있다.
  가운데 정렬
  번호, 제목, 작성자, 작성일, 조회, 좋아요 와 데이터 정렬
*/
.scrap_row {
  
  width: 1700px;
  border-left:solid 1px gray;
}

/* 게시글 목록 공통 개별 요소 속성 */
.scrap_list li{
  list-style:none;
  border-bottom:solid 1px gray; 
  float:left; 
  text-align:center;
  padding-top: 25px;
  /* padding: 0;
  margin: 0; */
}

/* 번호, 제목, 작성자, 작성일, 조회, 좋아요 row의 style 설정 */
.title_row > li {
  height: 90px;
  line-height: 50px;
  background:rgb(233, 233, 233);
  font-weight: bold;
  font-size: 30px;
  text-align: center !important;
  border-top:solid 1px rgb(0, 0, 0);
  /* border-left:solid 1px gray; */
  border-right:solid 1px gray;
}

/* 게시글 목록 데이터 개별 요소 속성 */
.data_row > li{
  height: 90px;
  line-height: 40px;
  font-weight: 400;
  font-size: 30px;
  border-right:solid 1px gray;
  
}


/* ****************************** */

a {
    text-decoration: none;
    color: inherit;
}

.scrap_wrap {
    width: 87%;
    padding-right: 10px;
    /* padding-left: 10px; */
    margin-right: auto;
    margin-left: auto;
    color: black;
    
}

.scrap_title {
    margin-bottom: 30px;
    margin-left: 10px;
    color: black;
    text-align: left;
}

.scrap_title strong {
    font-size: 3rem;
}

.scrap_title p {
    margin-top: 5px;
    font-size: 1.4rem;
}

.bt_wrap {
    margin-top: 20px;
    text-align: center;
    font-size: 0;
    /* padding-right: 120px; */
}

.bt_wrap a {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
}

.bt_wrap a:first-child {
    margin-left: 0;
}

.bt_wrap a.on {
    background: #000;
    color: #fff;
    
}


.scrap_list {
    width: 100%;
    display: flex;
            justify-content: center;
            /* 구성 요소 세로로 배치 */
            flex-direction: column;
}

.scrap_list > div {
    border-bottom: 1px solid #ddd;
    font-size: 30px;
    height: 90px;
    align-items : center;
}

.scrap_list > div.ourscraptop {
    border-top: 3px solid #6b51df;
    border-bottom: 1px solid #999;
}

.scrap_list > div:last-child {
    border-bottom: 1px solid #000;
}

.scrap_list > div > div {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
}

.scrap_list > div.ourscraptop > div {
    font-weight: 600;
}

.scrap_list .ourscrapnum {
    width: 20%;
}

.scrap_list .ourscraptitle {
    width: 50%;
    height: 90px !important;
    text-align: left;
    padding-left: 10px;
    padding-top: 30px;
}
.scrap_list .ourscrapdate{
	
}

.scrap_page {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.scrap_page a {
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-left: 0;
    line-height: 100%;
}

.scrap_page a.bt {
    padding-top: 10px;
    font-size: 1.2rem;
    letter-spacing: -1px;
}

.scrap_page a.ourscrapnum {
    padding-top: 9px;
    font-size: 1.4rem;
}

.scrap_page a.ourscrapnum.on {
    border-color: #000;
    background: #000;
    color: #fff;
}

.scrap_page a:first-child {
    border-left: 1px solid #ddd;
}
.myscraprow{
	display: inline-block;
}
.scrap_view {
    width: 100%;
    border-top: 2px solid #000;
}

.scrap_view .ourscraptitle {
    /* padding: 20px 15px; */
    margin: 10px;
    border-bottom: 1px dashed #ddd;
    font-size: 2rem;
}

.scrap_view .ourscrapinfo {
    padding: 15px;
    border-bottom: 1px solid #999;
    font-size: 0;
}

.scrap_view .ourscrapinfo dl {
    position: relative;
    display: inline-block;
    padding: 0 20px;
}

.scrap_view .ourscrapinfo dl:first-child {
    padding-left: 0;
}

.scrap_view .ourscrapinfo dl::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    display: block;
    width: 1px;
    height: 13px;
    background: #ddd;
}

.scrap_view .ourscrapinfo dl:first-child::before {
    display: none;
}

.scrap_view .ourscrapinfo dl dt,
.scrap_view .ourscrapinfo dl dd {
    display: inline-block;
    font-size: 1.4rem;
}

.scrap_view .ourscrapinfo dl dt {

}

.scrap_view .ourscrapinfo dl dd {
    margin-left: 10px;
    color: #777;
}

.scrap_view .ourscrapcont {
    padding: 15px;
    border-bottom: 1px solid #000;
    line-height: 160%;
    font-size: 1.4rem;
}

.scrap_write {
    border-top: 2px solid #000;
}

.scrap_write .ourscraptitle,
.scrap_write .ourscrapinfo {
    padding: 15px;
}

.scrap_write .ourscrapinfo {
    border-top: 1px dashed #ddd;
    border-bottom: 1px solid #000;
    font-size: 0;
}

.scrap_write .ourscraptitle dl {
    font-size: 0;
}

.scrap_write .ourscrapinfo dl {
    display: inline-block;
    width: 42%;
    vertical-align: middle;
}

.scrap_write .ourscraptitle dt,
.scrap_write .ourscraptitle dd,
.scrap_write .ourscrapinfo dt,
.scrap_write .ourscrapinfo dd {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.4rem;
}

.scrap_write .ourscraptitle dt,
.scrap_write .ourscrapinfo dt {
    width: 100px;
}

.scrap_write .ourscraptitle dd {
    width: calc(100% - 100px);
}

.scrap_write .ourscraptitle input[type="text"],
.scrap_write .ourscrapinfo input[type="text"],
.scrap_write .ourscrapinfo input[type="password"] {
    padding: 10px;
    box-sizing: border-box;
}

.scrap_write .ourscraptitle input[type="text"] {
    width: 80%;
}

.scrap_write .ourscrapcont {
    border-bottom: 1px solid #000;
}

.scrap_write .ourscrapcont textarea {
    display: block;
    width: 100%;
    height: 300px;
    padding: 15px;
    box-sizing: border-box;
    border: 0;
    resize: vertical;
}
.ourscraptop .ourscraptitle {
	text-align: left;
}
.ourscraptop .ourscrapnum {
	text-align: left;
}
.ourscraptop .ourscrapdate {
	text-align: left;
	padding-right: 30px
}